<component name="ArtifactManager">
  <artifact type="jar" name="server">
    <output-path>$PROJECT_DIR$/out/artifacts/server</output-path>
    <root id="archive" name="server.jar">
      <element id="file-copy" path="$PROJECT_DIR$/src/ma/fstm/ilisi/rmimoneyconversion/server/services/IConvertisseurRemote.java" />
    </root>
  </artifact>
</component>